* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 225, 225);
}

button, span {
    height: 2em;
    width: 2em;
    border-radius: 0.4em;
    font-size: 18pt;
    font-weight: 600;
    margin: 0.2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(52, 64, 77);
}

h1 {
    border-bottom: 1px solid rgb(124, 102, 27);
    padding: 0em 1em;
}

.itens-bot, h1, p {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(238, 215, 181);
}
