* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 225, 225);
}

button, span {
    height: 40px;
    width: 40px;
    border-radius: 20%;
    font-size: 16pt;
    font-weight: 600;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(52, 64, 77);

}

button {
    background-color: rgb(238, 215, 181);
}
.itens-bot {
    margin-left: 15%;
}